.header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-top:35px;
    padding-bottom:35px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Adjust the button's style */
.custom-button {
    background-color: #00568D;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #0056b3;
}

.profile-vector {
    width: 5px;
    height: 10px;
    background: #00568D;
    border-radius: 50%;
    margin-right: 10px;
}

.login-name{
    color: #00568D;
    font-weight: 500;
    padding-left: 50px;

}

.active-pg {
    position: absolute;
    top: 60px; /* Adjusted to leave space for the header */
    left: 0;
    right: 0;
    text-align: left;
    background-color: #ffffff;
    z-index: 999;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.active-pg h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase; /* Always show the active page text in uppercase */
}

.shifted .header,
.shifted .active-pg {
    margin-left: 250px;
    width: calc(100% - 250px);
}