.login-page {
    font-family: 'Poppins', sans-serif;
}

.login-container {
    flex: auto;
    border: 0px solid #ccc;
    padding-top: 20px;
    margin:50px 70px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.login-box{
    padding: 20px;
}

.ems-logo{
    width: auto;
    height: auto;
    padding-right: 60px;
}

.login-title1{
    font-size: 25px;
}

.login-title {
    color: #00568D;
    font-size: 30px;
    font-weight: 600;


}

.login-subtitle {
    font-size: 16px;
    color: #545454;
    padding-bottom: 10px;
}

.clear-section{
    padding-top: 30px;
    padding-bottom: 40px;
}

.checkbox{
    padding-top: 25px;
}

.login-btn {
    background-color: #00568D;
}

.login-footer{
    padding-top: 30px;
}

.clear-link, .register-link {
    color: #45A9EA;
}

.register-link{
    font-weight: bold;
}

.clear-link:hover, .register-link:hover {
    text-decoration: underline;
}
