
.page-container {
  font-family: Poppins, sans-serif;
  height: 100vh;
  width: 100%;
}

.text-title{
  color:#00568D;
}

.content-container {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #f8f8f9;
  margin-top: 100px;
  width: 100%;
}

.card {
  padding: 20px;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.btn {
  background-color: #00568D;
  border-color: #00568D;
  color: white;
  border-radius: 8px;
  width: 200px;
  margin: 20px auto 0;
  display: block;
}

.btn:hover {
  background-color: #00476b;
  border-color: #00476b;
}

.btn:active, .btn:focus {
  background-color: #00476b;
  border-color: #00476b;
  box-shadow: none;
}

/* Logo styling */
.logo {
  width: 143px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-container {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .upload-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
